streamlit>=1.40.0
torch
transformers<5.0.0
spacy
gTTS
SpeechRecognition
pandas
numpy
python-dotenv
indic-nlp-library
scikit-learn
nltk
soundfile
sentence-transformers
google-generativeai
fastapi
uvicorn
python-multipart
